<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="C:/Users/NITIN/Documents/Interactive-Chatbot-1/templates/static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Interactive Agent</title>
    <style>    
        body {    
          background-image: url("C:/Users/NITIN/Documents/Interactive-Chatbot-1/templates/static/images/pexels-francesco-ungaro-96381.jpg");    
            }  
        </style>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Interactive Agent</h4>
                    <p class="chatbox__description--header">Experience lightning-fast support with our AI-powered Chatbot </p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <style>
                    .bordered-button {
                        border: 1px solid black;
                    }
                </style>
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="C:/Users/NITIN/Documents/Interactive-Chatbot-1/templates/static/images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>
    
     
    <script src="C:/Users/NITIN/Documents/Interactive-Chatbot-1/templates/static/app.js"></script>

</body>
</html>